{% extends "layouts/main.twig" %}
{% block title %} Basket {% endblock %}
{% block content %}
    <div class='basket'>

        Товар добавлен в заказ

    </div>
    <a href='/good'>To go back</a>
{% endblock %}


