<div class="user">
    <h2>
        Add new User
    </h2>

    <form action="?c=user&a=add" method="post">
        <p>Name <br>
            <input type="text" name="name"></p>
        <p>Login <br>
            <input type="text" name="login"></p>
        <p>Password <br>
            <input type="text" name="password"></p>
        <input type="submit" value="Sent">
    </form>

</div>